{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/About_Client.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Add_recourse{% endblock %} {% block body %}
<div class="intro">
	<h1>Сделать заказ</h1>
	<div class="container">
		<img src="{{ url_for('static',filename='imgs/Service.jpg') }}" />
		<form method="post">
			<div class="dws-input">
				<input type="text" name="prod_name" placeholder="Название товара:" />
			</div>
			<div class="dws-input">
				<input type="text" name="prod_amount" placeholder="Кол-во товара:" />
			</div>
			<br />
			<br />
			<button
				class="dws-submit2"
				type="submit"
				name="submit"
				value="Report"
			>
				Заказать товар
			</button>
			<br />
			<br />
			<br />
			<a class="restore" href="/client/{{username}}">Назад</a>
		</form>
	</div>
</div>
{% endblock %}
