{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/Admin.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Admin{% endblock %} {% block body %}
<div class="intro">
	<h1>{{dirstaff[1] + ' ' + dirstaff[2]}}</h1>
</div>
<div class="intro2">
	<div class="section_header">
		<h3 class="section_suptitle">
			Ваш личный кабинет
		</h3>
	</div>
	<div class="container">
		
		<form>
			<div class="dws-input">
				<input
					style="background-color:white;
							margin-top: 4em"
					type="name"
					disabled
					name="name"
					placeholder="{{dirstaff[1]}}"
				/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white;"
					type="surname"
					disabled
					name="surname"
					placeholder="{{dirstaff[2]}}"
				/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white;"
					type="patronomyc"
					disabled
					name="patronomyc"
					placeholder="{{dirstaff[3]}}"
				/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white;"
					type="telephone"
					disabled
					name="telephone"
					placeholder="{{dirstaff[8]}}"
				/>
			</div>
			<br />
			<a
				class="dws-submit"
				href="/logout"
				type="back"
				name="back"
				value="Back"
				>Назад</a
			>
		</form>
	</div>
	<div class="container2">
		<div class="header_menu">
			<h4>Меню</h4>
		</div>
		<form>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/admin/addclient/{{username}}"
					type="Money"
					name="Money"
					value="Money"
					>Добавить клиента</a
				>
			</div>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/admin/updateclient/{{username}}"
					type="Money"
					name="Money"
					value="Money"
					>Обновить клиента</a
				>
			</div>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/admin/checkclient/{{username}}"
					type="Money"
					name="Money"
					value="Money"
					>Проверить клиента</a
				>
			</div>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/admin/sold_product/{{username}}"
					type="Money"
					name="Money"
					value="Money"
				>Проданный продукт</a>
			</div>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/admin/checkproduct/{{username}}"
					type="Money"
					name="Money"
					value="Money"
					>Проверить продукцию</a
				>
			</div>
		</form>
	</div>
</div>

{% endblock %}
