{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/About_Client.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Просмотр количества товара{% endblock %} {% block body %}
<div class="intro">
	<h1>Просмотр количества товара</h1>
	<div class="container">
		<img src="{{ url_for('static',filename='imgs/Service.jpg') }}" />
		<form method="post">
			<div class="dws-input">
				<input
					type="text"
					name="product_num"
					placeholder="Номер товара:"
				/>
				<input
					type="text"
					name="product_name"
					placeholder="Наименование товара:"
				/>
			</div>
			<button
				class="dws-submit2"
				type="submit"
				name="submit"
				value="Report"
			>
				Просмотр
			</button>
			<br />
			<br />
			<br />
			<a class="restore" href="/client/{{username}}">Назад</a>
		</form>
	</div>
</div>
{% endblock %}
