{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/Admin.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Director{% endblock %} {% block body %}
<div class="intro">
	<h1>{{dirstaff[1] + ' ' + dirstaff[2]}}</h1>
</div>
<div class="intro2">
	<div class="section_header">
		<h3 class="section_suptitle">Личный кабинет пользователя</h3>
	</div>
	<div class="container">
		<form method="GET">
			<div class="dws-input">
				<input
					style="background-color:white;
							margin-top: 4em"
					disabled
					type="name"
					name="name"
					placeholder="{{dirstaff[1]}}"/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white"
					disabled
					type="surname"
					name="surname"
					placeholder="{{dirstaff[2]}}"/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white"
					disabled
					type="patronomyc"
					name="patronomyc"
					placeholder="{{dirstaff[3]}}"/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white"
					disabled
					type="telephone"
					name="telephone"
					placeholder="{{dirstaff[4]}}"/>
			</div>
			<br />
			<a
				class="dws-submit"
				href="/logout"
				type="back"
				name="back"
				value="Back">Выйти</a>
		</form>
	</div>
	<div class="container2">
		<div class="header_menu">
			<h4>Меню</h4>
		</div>
		<form>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/client/check_payment/{{username}}"
					type="Money"
					name="Money"
					value="Hiring staff"
					>История покупок</a
				>
			</div>
			 <div class="dws-input2">
				<a
					class="dws-submit2"
					href="/client/add_order/{{username}}"
					type="Money"
					name="Money"
					value="Hiring staff"
					>Сделать заказ</a
				>
			</div>
		    <div class="dws-input2">
				<a
					class="dws-submit2"
					href="/client/check_places/{{username}}"
					type="Money"
					name="Money"
					value="Hiring staff"
					>Просмотр отделов в своем городе</a
				>
			</div>
            <div class="dws-input2">
				<a
					class="dws-submit2"
					href="/client/check_cost/{{username}}"
					type="Money"
					name="Money"
					value="Hiring staff"
					>Просмотр стоимости товара</a
				>
			</div>
		</form>
	</div>
</div>
{% endblock %}
