{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/About_Client.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Посмотреть стоимость{% endblock %} {% block body %}
<div class="intro">
	<h1>Посмотреть стоимость</h1>
	<div class="container">
		<img src="{{ url_for('static',filename='imgs/Service.jpg') }}" />
		<form method="post">
			<div class="dws-input">
				<input type="text" name="product_name" placeholder="Название товара:" />
			</div>
			<button
				class="dws-submit2"
				type="submit"
				name="submit"
				value="Report"
			>
				Посмотреть стоимость
			</button>
			<br />
			<br />
			<br />
			<a class="restore" href="/client/{{username}}">Назад</a>
		</form>
	</div>
	{% if data %}
	<table class="table" border="2">
		<tr>
			<th class="text">Цена товара</th>
			<th class="text">Колличество продукции</th>
		</tr>
		{% for row in data %}
		<tr>
			<th class="text">{{row[0]}}</th>
			<th class="text">{{row[1]}}</th>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}
