{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/Director.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Director{% endblock %} {% block body %}
<div class="intro">
	<h1>{{dirstaff[1] + ' ' + dirstaff[2]}}</h1>
</div>
<div class="intro2">
	<div class="section_header">
		<h3 class="section_suptitle">Добро пожаловать в личный кабинет</h3>
	</div>
	<div class="container">
		<form method="GET">
			<div class="dws-input">
				<input
					style="background-color:white;
							margin-top: 4em"
					disabled
					type="name"
					name="name"
					placeholder="{{dirstaff[1]}}"/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white;"
					disabled
					type="surname"
					name="surname"
					placeholder="{{dirstaff[2]}}"/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white;"
					disabled
					type="patronomyc"
					name="patronomyc"
					placeholder="{{dirstaff[3]}}"/>
			</div>
			<div class="dws-input">
				<input
					style="background-color:white;"
					disabled
					type="telephone"
					name="telephone"
					placeholder="{{dirstaff[8]}}"/>
			</div>
			<br />
			<a
				class="dws-submit"
				href="/logout"
				type="back"
				name="back"
				value="Back">Выйти</a>
		</form>
	</div>
	<div class="container2">
		<div class="header_menu">
			<h4>Меню</h4>
		</div>
		<form>
			<div class="dws-input2">
				<a
					class="dws-submit2"
					href="/director/addstaff/{{username}}"
					type="Money"
					name="Money"
					value="Hiring staff"
					>Добавить сотрудника</a
				>
			</div>
            <div class="dws-input2">
				<a
					class="dws-submit2"
					href="/director/update_staff/{{username}}"
					type="Money"
					name="Money"
					value="Update staff"
					>Изменить сотрудника</a
				>
			</div>
			<div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/delete/{{username}}"
					type="Hiring staff"
					name="Hiring staff"
					value="Delete staff"
					>Удалить сотрудника</a
				>
			</div>
			<div class="dws-input4">
				<a
					class="dws-submit2"
					href="/director/check_clients/{{username}}"
					type="Delete staff"
					name="Delete staff"
					value="See services"
					>Посмотреть клиента</a
				>
			</div>
			<div class="dws-input5">
				<a
					class="dws-submit2"
					href="/director/check_products/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Посмотреть продукцию</a
				>
			</div>
			<div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/check_products_spent/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Расходы продукции</a
				>
			</div>
            <div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/staff_activity/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Активность сотрудника</a
				>
			</div>
            <div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/subdiv_activity/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Активность подразделения</a
				>
			</div>
            <div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/addsubdiv/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Добавление подразделения</a
				>
			</div>
            <div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/updatesubdiv/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Редактирование подразделения</a
				>
			</div>
            <div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/deletesubdiv/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Удаление подразделения</a
				>
			</div>
            <div class="dws-input3">
				<a
					class="dws-submit2"
					href="/director/updatesalary/{{username}}"
					type="Statistics"
					name="Statistics"
					value="Statistics"
					>Редактирование зарплаты</a
				>
			</div>
		</form>
	</div>
</div>
{% endblock %}
