{% extends 'basics.html' %} {% block style %}
<link
	rel="stylesheet"
	href="{{ url_for('static',filename='css/About_Client.css') }}"
/>
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet"
/>
{% endblock %} {% block title %}Statistics {% endblock %} {% block body %}
<div class="intro">
	<h1>Расходы продукции</h1>
	<div class="container">
		<img src="{{ url_for('static',filename='imgs/Service.jpg') }}" />
		<form method="post">
			<div class="dws-input">
				<input
					type="text"
					name="date_begin"
					placeholder="Дата начала:"
				/>
			</div>
			<div class="dws-input">
				<input type="text" name="date_end" placeholder="Дата конца:" />
			</div>
			<button
				class="dws-submit2"
				type="submit"
				name="submit"
				value="Report"
			>
				Расходы продукции
			</button>
			<br />
			<br />
			<br />
			<a class="restore" href="/director/{{username}}">Назад</a>
		</form>
	</div>
	{% if data %}
	<table class="table" border="2">
		<tr>
			<th class="text">Номер товара</th>
			<th class="text">Название товара</th>
			<th class="text">Тип товара</th>
			<th class="text">Номер отделения</th>
			<th class="text">Цена товара</th>
			<th class="text">Колличество продукции</th>
			<th class="text">Колличество проданного</th>
		</tr>
		{% for row in data %}
		<tr>
			<th class="text">{{row[0]}}</th>
			<th class="text">{{row[1]}}</th>
			<th class="text">{{row[2]}}</th>
			<th class="text">{{row[3]}}</th>
			<th class="text">{{row[4]}}</th>
			<th class="text">{{row[5]}}</th>
			<th class="text">{{row[6]}}</th>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endblock %}
